
.c1 {
    width: 100% ;
    height: 100% ;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    background-color: #282c34;
} /* c1 클래스의 스타일 */

  
.c2, .c3 {
    display:flex;
    justify-content:center;
    align-items:center;
}

.c2 {
    width: 100%;
    height: 80%;
} /* 이미지 */


.c3 {
    width: 100%;
    height: 20%;

    color:white;
} /* 글자 */